body {
    background-color: #b2b2b2;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top,
    #e4f5fc 0%,
    #bfe8f9 50%,
    #9fd8ef 51%,
    #2ab0ed 100%);
}

#header {
    width: 100%;
    font-size: 18px;
    text-align: center;
    background-color: #54a4ff;;
}

#c_one {
    background-color: #54a4ff;
    padding: 60px;
    color: #f6f6f6;
    background: url("../bg1.jpg");
}

#c_one_home {
    background-color: #f8f8f8;
    padding: 60px;
    color: #222;
}

#c_one_home_app {
    background-color: #f6f6f6; /*#54a4ff;*/
    padding: 60px;
    color: white;
}


#c_two {
    background-color: #f6f6f6; /*#2ad252;*/
    text-align: center;
    padding-bottom: 80px;
    color:#333;

}

#c_three {
    background-color: #f6f6f6;
    text-align: center;
    padding-right: 0px;
}

#c_four {
    background-color: #f6f6f6;
    text-align: left;
    padding: 30px;
    padding-right: 0px;

}

#footer {
    background-color: #3c3c3c;
    text-align: center;
    padding: 30px;
    color: #ececec;

}

.container {
    width: 100%;

}

#menu {
    text-align: right;
    display: inline-block;
    height: 70px;
    width: 80%;
    line-height: 60px;
}

div#intro {
    width: 50%;
    margin-top: 100px;
    display: block;
    float: left;
    position: relative;
    margin-left: 50px;
    text-align: left;
}

.bigText {
    display: block;
    text-align: left;
    font-size: 28px;
    width:100%;
}

#criteria_name {
    text-align: center;
    height: 40px;
    display: block;
    position: relative;
    margin-top: 25px;
}

#criteria_name:after {
    content: "";
    position: absolute;
    left: 49%;
    bottom: -5px;
    margin: auto;
    border-radius: 5px;
    height: 1px;
    display: inline-block;
    width: 50px;
    border-bottom: 3px solid rgba(125, 125, 125, 100);
}

#criteria {
    margin-top: 40px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    display: inherit;
}

.name_slider {
    font-weight: bold;
    margin: 20px;
    float: left;
}

.slider .ui-slider-range {
    background: #54a4ff;
}

.slider {
    float: left;
    clear: left;
    width: 150px;
    border-radius: 20px;
    height: 15px;
}

label {
    color: #333;
    font-size: 16px;
    float: left;
}
.ui-widget.ui-widget-content {
    border: none !important;
}

span.ui-slider-handle.ui-state-default.ui-corner-all {
    height: 18px;
    top: -3px;
    width: 18px;
    border-radius: 50%;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    font-weight: normal;
    color: #555555;
    background: radial-gradient(ellipse at center, #0a0809 0%, #0a0e0a 14%, #54a4ff 15%, #54a4ff 100%);
}

.ui-widget-content {
    border: 1px solid #aaaaaa;
    /* color: #222222; */
    background-color: #444 !important;
}

div#myNavbar {
    float: right;
}

.inside {
    float: left;

}

.navbar {
    position: relative;
    min-height: 50px;
    padding-bottom: 20px;
    border: 1px solid transparent;
    margin-bottom: 0px;
}

li.nav-item {
    background-color: transparent;
    padding: 6px;
}

a.nav-link {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a.nav-link:hover {
    color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(170, 220, 255, 0.23);
    border-radius: 5px;
}

.navbar-nav > li {
    background-color: rgba(170, 220, 255, 0.23);

}

@media (min-width: 768px) {
    .navbar-nav > li {

        background-color: transparent !important;
    }
}

.panel-body {
    background-color: #f6f6f6; /*#2ad252;*/
    border: 0px;
}

.panel.panel-default {
    border: none;
}


.panel-title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.panel-group {
    float: left;
    margin: 20px;
}

@media (min-width: 1146px) {
    .eu {
        float: left;
        margin-top: 0px;
        display: block !important;
    }

    .mygeoss {
        float: left;
        display: block !important;
    }

    #leftImages, #rightImages {
        display: block !important;
    }

    #centerImage {
        width: 50% !important;
    }

    .container {
        width: 80%;
    !important;

    }

    #header {
        width: 80% !important;
        display: inline-block !important;

    }
}

.navbar-nav {

    margin-top: 0px;
}

#globe {

    padding-right: 0px;
}

.bigCentral {
    width: 100%;
    text-align: center;
    margin-top: 50px;

}

.name_result {
    font-size: 24px;
    float: left;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
    clear: both;
    width: 20%;
    margin-bottom: 80px;
    padding: 10px;
}

.result_score {
    font-size: 24px;
    float: left;
    font-family: 'Open Sans', sans-serif;

}

div#criteria_selected {
    text-align: left;
    font-size: 16px;
}

div#centerImage img {
    width: 60%;
}

#centerImage {
    width: 60%;
    text-align: center;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    height: 70%;
    border-radius: 10px;
}

#leftImages {
    float: left;
    width: 15%;
    height: 70%;
    border-radius: 10px;
}

#leftImages img {
    width: 100%;
}

#rightImages {
    float: left;
    width: 15%;
    height: 70%;
    border-radius: 10px;
    position: relative;
}

#rightImages img, #rightImages a {

    width: 100%;
    bottom: 50%;
    position: absolute;
    left: 0;
}

body {
    background-color: #54a4ff;;
    background-image: url("../bg.jpg");
    background-size: cover;
}

a:hover, a:focus {

    text-decoration: none;
}

.panel-heading:focus, .panel-heading.focus, .panel-heading:hover {
    color: #fff;
    background-color: #27a520;
    border-color: #238e1c;
}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #6cd83a;
    border-color: #6bd63a;
    border-radius:4px;
}

.tooltip-inner {
    background-color: white;
    color: #222;
    font-size: 20px;
    max-width: 400px;
}
h4.panel-title a {
    font-size: 14px;
    font-weight: normal;
}
.tooltip-arrow {
    border-top-color: #fff !important;

}

#rightImages a {
    color: white;
}

#leftImages a {
    color: white;
}
div#legend {
    width: 120px;
    float: right;
    position: absolute;
    background-color: #f6f6f6;
    right: 0px;
    border-bottom-left-radius: 7px;
}
.ls{
    float:left;
    width:100px;
}
.sq{
    width:15px;
    height:15px;
    float:left;
}
.sq1{
    background-color:#8dc1c5;
}
.sq2{
      background-color:#9fccc3;
  }
.sq3{
    background-color:#b9dbc1;
}
.sq4{
    background-color:#d7ebbe;
}
.sq5{
    background-color:#f1edb7;
}
.sq6{
    background-color:#ffedaa;
}
.sq7{
    background-color:#ffcf92;
}
.sq8{
    background-color:#f8a273;
}
.sq9{
    background-color:#ec6d50;
}
.sq10{
    background-color:#df3d31;
}
#opacity{
    display:none;
}
#rasterList{
    padding-left: 0;
    margin-bottom: 0px;
    max-height: 0px;
    overflow: scroll;
    overflow-x: hidden;
    display: block;
    height: auto;
    transition: all 0.5s;
}
#layerList{
    padding-left: 0;
    margin-bottom: 0px;
    max-height: 0px;
    overflow: scroll;
    overflow-x: hidden;
    display: block;
    height: auto;
    transition: all 0.5s;
}

#expandRaster{
    display:none;
}
#selectedCriteriaDiv{
    display:none;
}
#headerLogos{
     float: right;
     padding-right:5%;
 }
#headerLogos img{
   max-height: 120px;
    padding-right:20px;
}